*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}
.select {
  color: hsl(184, 14%, 56%);
  margin-bottom: 1em;
  font-weight: 400;
}

button {
  border: none;
  outline: none;
}

.amount {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
}

.people {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
}

.calculator {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1em;
  margin: 1em;
  padding: 2em;
  max-width: 1040px;
}

.amount,
.tips {
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  height: 50px;
  background: hsl(189, 41%, 97%);
  background-position: 1em center;
  background-size: 1em;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  outline: invert;
  border: none;
  border-radius: 1vh;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 0 1em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tips {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}

.tip {
  font-size: 1.5em;
  font-weight: 700;
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 1vh;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
